body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(245, 240, 240);
}
header{
    background-color: rgb(106, 76, 241);
    margin-bottom: 30px;
}
.topers h2{
    color: rgb(80, 55, 192);
    font-weight: 500;
}
.container-header{
    margin:auto;
    width: 80%;
    display: flex;
    align-items: center;
}
.logo{
    width: 40%;
    height: 70px;
    margin: 16px 0px;
    color: white;
    display: flex;
    justify-content: flex-start;
    
}
.logo img{
    width: 50px;
    height: 50px;
    padding: 15px;
}
.menu-bar{
    width: 60%;
}
.nav-list{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}
.nav-list a{
    padding: 0px 20px;
    color: #fff;
    text-decoration: none;
}
.container{
    margin:auto;
    margin-bottom: 20px;
    padding: 15px;
    width: 77%;
    background-color: #fff;
    overflow: hidden;
    border-radius: 8px;
}
.top-players{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
.single-player{
    width: 30%;
    display: flex;
    padding: 15px;
    align-items: center;
}
.single-player img{
    width: 20%;
    padding: 15px;
    margin-left: 80px;
}
.player{
    text-decoration: none;
    font-weight: 700;
}
.top-blogs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.single-blog{
    width: 47%;
    display: flex;
    padding: 15px;
    align-items: center;
}
.single-blog img{
    width: 40%;
    padding: 15px;
    margin-left: 80px;
}
.blog{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 600;
}
.blog h4{
    font-size: 18px;
    font-weight: 400;
    color: blueviolet;
}